/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

/*  permission to use hard wraps when no soft wrap opportunties */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

/* Set core root defaults */
html:focus-within {
   scroll-behavior: smooth;
}

/* Set core body defaults */
body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

button:hover,
input:hover {
   cursor: pointer;
}

/* actual */

main {
   min-height: 100vh;
   display: grid;
   place-content: center;
   gap: 1rem;
}

.label {
   position: absolute;
   top: 9000px;
   left: 9000px;
   font-size: 0;
   opacity: 0;
}

.input {
   border: 2px solid black;
   /* focus styles */
}

.results-list {
   border: 2px solid black;
}

.results-list button {
   display: inline-block;
   width: 100%;
   text-align: left;
}

.separator {
   width: 100%;
}

.shopping-list {
   outline: 1px solid black;
}

.shopping-list li {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

:focus {
   outline: 2px solid red;
}

/* word guessing game */

.title {
}

.grid-letters {
   outline: 1px solid black;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 1rem;
}

.grid-letter {
   border: 1px solid black;
   border-radius: 5px;
   padding: 1rem;
}
